<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>

  <nav aria-label="brand">
   <ul class="brand">
    <li class="bread-icon"><%= link_to image_tag("time-lock3.png", width: '14%', height: '14%', class:"timer-icon"), "/" %></li>
    <li><%= link_to 'demo', new_chart_path, class: "subtitle" %></li>
   </ul>
  </nav>

  <div id="app">
    <!--ハンバーガーメニューのボタン-->
    <div class="hamburger_btn" v-on:click='ActiveBtn=!ActiveBtn'>
      <span class="line line_01" v-bind:class="{'btn_line01':ActiveBtn}"></span>
      <span class="line line_02" v-bind:class="{'btn_line02':ActiveBtn}"></span>
      <span class="line line_03" v-bind:class="{'btn_line03':ActiveBtn}"></span>
    </div>

    <transition name="menu">
        <div class="menu" v-show="ActiveBtn">
            <ul>
              <% if user_signed_in? %>
                <li><span class="material-icons">account_box</span><%= link_to current_user.name, "#", class: "header-list" %></li>
                <li><span class="material-icons">list_alt</span><%= link_to 'todo', "/", class: "todo-list" %></li>
                <li><span class="material-icons">insert_chart_outlined</span><%= link_to 'chart',chart_path(:user_id), class: "header-list" %></li>
                <li><span class="material-icons">event</span><%= link_to 'calender', event_path(:user_id), class: "header-list" %></li>
                <li><span class="material-icons">exit_to_app</span><%= link_to 'logout', destroy_user_session_path, method: :delete, class: "" %></li>
                <a href="https://twitter.com/home" class="btn-social-icon-twitter"><span class="btn-social-icon-twitter__square"><i class="fa fa-twitter"></i></span></a>
              <% else %>
                <li><span class="material-icons">login<%= link_to 'ログイン', new_user_session_path, class: "login" %></span></li>
                <li><span class="material-icons">face<%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></span></li> 
              <% end %> 
            </ul>
        </div>
    </transition>
  </div>

  
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        ActiveBtn: false
      }
    })
  </script>
  
</header>