<%= render "shared/header" %>
<h3 class="text-center">カレンダー</h3>

<%= form_with(model: @event,local: true) do |f| %>
  <div  class="col">
    <p>
      <span>タイトル</span>
      <span><%= f.text_field :title, class: "form-control", placeholder: "タイトルを入力してください" %></span>
    </p>
    <span>開始日時</span>
    <span><%= f.datetime_field  :start_time, placeholder: "XXXX-XX-XX", class:"field" %> ~ </span><br>
    <span>終了日時</span>
    <span><%= f.datetime_field :end_time, placeholder: "XXXX-XX-XX", class:"field" %></span><br>
    <span>詳細<%= f.text_field :text, class: "form-control", placeholder: "タイトルの詳細を記入してください" %></span>
  </div>
  <div class="modal-footer">
      <%= f.submit "登録する", class: "btn btn-primary" %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
<% end %>
  <%=link_to 'もどる', root_path, class:"back-btn" %>
  <%= render "shared/footer" %>