<%= render "shared/header" %>
    <%# 画面上部の「timelockの説明」部分 %>
  <div class='title-contents'>
    <h2 class='service-title link-primary'>
      Timelockは時間管理できるアプリです
    </h2>
    <p class='service-explain text-primary'>
      ・todo機能 ・calender機能  ・chart機能があります
    </p>
  </div>
  

  <div class ="timer-container">
    <div id="timer"><p>25:00</p></div>
    <div class="control"> 
      <div class="btn" id="min">min</div>
      <div class="btn" id="sec">sec</div>
      <div class="btn" id="start">start</div>
      <div class="btn" id="reset">reset</div>
    </div>
    <div class="pomodoro" id="pomodoro">repeat:0</div>
    <div class="purchase-btn">
      
      <span class="material-icons">add_to_home_screen</span>
      <%= link_to "record", "#", class: "purchase-btn-icon" %>
    </div>
  </div>
     
  <div class="index">
    <h3>Topics</h3>
    <ul class="clearfix">
      <li>
        <a href="#">
          <%= link_to image_tag("image3.jpg", class:"google-btn"), "#" %>
          <p class="topics-title">DEMO</p>
          <p class="topics-date">2021.01.12</p>
          <p class="tag-news">DEMO</p>
        </a>
      </li>

      <li>
        <a href="#">
          <%= link_to image_tag("image1.jpg", class:"google-btn"), "#" %>
          <p class="topics-title">DEMO</p>
          <p class="topics-date">2021.01.02</p>
          <p class="tag-news">DEMO</p>
        </a>
      </li>

      <li>
        <a href="#">
          <%= link_to image_tag("image2.jpg", class:"google-btn"), "#" %>
          <p class="topics-title">DEMO</p>
          <p class="topics-date">2020.12.24</p>
          <p class="tag-news">App詳細</p>
        </a>
      </li>
    </ul>
  </div>
<%= render "shared/footer" %>